<form action="login" method="POST">
  <br>
  Name: <select name="driver_id">
    <% @drivers.each do |driver| %>
      <option value="<%= driver.id %>">
        <%= driver.name %>
      </option>
    <% end %>
  </select>
   <input type="password" name="password">
  <br>
  <input type="submit" value="Login">
</form>
