<div>
  <form action="login" method="POST">
    <br>
    <h2>Name:</h2>
    <div style="text-align:center;">
      <select name="driver_id">
        <% @drivers.each do |driver| %>
          <option value="<%= driver.id %>">
            <%= driver.name %>
          </option>
        <% end %>
      </select>
    </div>
    <h2>Password:</h2>
    <div style="text-align:center;">
      <input type="password" name="password">
    </div>
    <br>
    <div style="text-align:center;">
      <input class="button" type="submit" value="Login">
    </div>
  </form>
</div>

<div>
  <h2>Register as a Simpsons Pizza Delivery Driver!</h2>
`  <form action="sign_up" method="POST">
    <br>
    <h2>Name:</h2>
    <div style="text-align:center;">
      <input type="text" name="name">
    </div>
    <h2>Can you deliver Beer?</h2>
    <div style="text-align:center;">
      <input class="checkbox" type="checkbox" name="can_beer"><br>
    </div>
    <h2>Password:</h2>
    <div style="text-align:center;">
      <input type="password" name="password"><br>
    </div>
    <div style="text-align:center;">
      <input class="button" type="submit" value="Sign Up">
    </div>
  </form>`
</div>
