<br>
<div style="text-align:center;">
  <h2>Log In</h2>
  <br>
  <form action="login" method="POST">
      <p>Username</p>
      <input type="text" name="username">
      <p>Password</p>
      <input type="text" name="password">
      <br>
    <input class="button" type="submit" value="Login">
    </form>
</div>
<br>
<br>
<div style="text-align:center;">
  <h2>New Customer?</h2>
  <br>
  <form action="sign_up" method="POST">
      <p>Full name</p>
      <input type="name" name="[user]name">
      <p>Username</p>
      <input type="username" name="[user]username">
      <p>Password</p>
      <input type="password" name=[user]password><br>
    <br>
    <input class="button" type="submit" value="Sign Up">
  </form>
</div>
